<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devisscher.niek.firstappweek1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondScreen"
            android:label="@string/title_activity_second_screen"
            android:parentActivityName=".WelcomeScreen" >
            <meta-data
                android:name="android.secondscreen"
                android:value="com.devisscher.niek.firstappweek1.WelcomeScreen" />
        </activity>
        <activity
            android:name=".ThirdScreen"
            android:label="@string/title_activity_third_screen"
            android:parentActivityName=".SecondScreen" >
            <meta-data
                android:name="android.thirdscreen"
                android:value="com.devisscher.niek.firstappweek1.SecondScreen" />
        </activity>
    </application>

</manifest>
